<%
curdir=Dir.pwd
Dir.chdir(File.expand_path(File.dirname(__FILE__))+"/../../../templates/")

settings[:print_templates] = []
Dir.glob('*.odt') { |file|
  filename, ext = file.split('.odt')
  settings[:print_templates] << filename
}

Dir.chdir(curdir)
%>

<% content_for :header_tags do %>
<style type="text/css" media="all">
  .templates-list { margin-left: 20px; }
  .template-view { display: block; width: 100%; }
  .template-view .actions { display: block; float: right; }
</style>
<% end %>

<%= hidden_field_tag('settings[tracker_ids][]',"") %>
<p>
  <label>  <%= l :redmine_print_select_trackers %> </label>
</p>
<p>
  <% Tracker.sorted.each do |tr|
  settings["tracker_#{tr.id}_templates"] = [] if settings["tracker_#{tr.id}"].nil?
  %>
      <%=
        content_tag('label',
          tr.name.to_s.html_safe +
          check_box_tag(
             "settings[tracker_ids][]", tr.id.to_s,
             (is_enabled_tracker=settings[:tracker_ids].include?(tr.id.to_s) rescue false), :id => nil)
         )
      %>
      <label class="block">
        <%= select_tag "settings[tracker_#{tr.id}_template]",
          options_for_select( settings[:print_templates].map {|k,v| k.to_s }, settings["tracker_#{tr.id}_template"] ),
                   class: "select-template", disabled: (not is_enabled_tracker),
                   multiple: false %>
                 <%= text_field_tag "settings[tracker_#{tr.id}_name]", settings["tracker_#{tr.id}_name"] || l(:settings_print_template_name) %>
     </label>
  <% end %>
</p>

<p>
<label for="settings_print_templates">
  <%= l(:settings_print_template) %>
  <small><%= l(:settings_print_template_description) %></small>
</label>
<label id="settings_print_templates" class="block templates-list">
  <% settings[:print_templates].each_with_index do |template, index| %>
    <span class="block template-view">
    <span>
      <a class="edit-template icon icon-report" data-template-index="<%= template %>" href="#"><%= template %></a>
    </span>
    </span>
  <% end %>
</label>
</p>

</fieldset>
